/*MENU
0 -Geral
1 - Menu
2 - Div Home
3 - Section História
4 - Section Info
5 - Section Lojas
6 - Section Assine
7 - Footer
*/

/* 0 - Geral */

:root {
    --preto-primario: #000;

    --preto-secundario: #252525;

    --branco-primario: #FFF;

    --cinza-primario: #e7e4d8;

    --cinza-footer: #d6d3c8;
}

/* 1 - Menu */

.menu {
	background-color: #252525;
}

.menu a {
    font-family: Georgia, serif;
	color: var(--branco-primario);
	text-decoration: none;
}

.menu li {
	list-style: none;
}

.itens-menu {
	max-width: 920px;
	padding: 15px;
	margin: 0 auto;
}

.menu-nav{
	float: right;
}

.menu-nav li{
	display: inline-block;
}

.menu-nav li a {
    padding: 15px;
    display: block;
}

.menu-nav li a::after {
    display: block;
    content: '';
    height: 2.5px;
    width: 0px;
    background: var(--branco-primario);
    transition: 0.5s;
}

.menu-nav li a:hover::after {
    width: 100%;
    background: var(--branco-primario);
}

/* 2 - Div Home */

.home {
    background-image: url("../img/bg-intro.jpg");
    background-repeat: no-repeat;
    padding: 150px 0px;
    background-size: cover;
    color: var(--branco-primario);
    text-align: center;
}

.home h1 {
    text-transform: uppercase;
    font-size: 3em;
    font-family: Georgia, serif;
    font-weight: bolder;
}

.home h1::after {
	content: "";
	display: block;
	width: 20px;
	height: 4px;
	background-color: var(--branco-primario);
	margin: 10px auto;
}

.home p{
    font-family: Georgia, serif;
	font-size: 1.25em;
	font-style: italic;
}

/* 3 - Section Historia */

.historia {
    padding: 60px 0px;
}

.historia h2 {
    padding-bottom: 60px;
    font-family: Georgia, serif;
    font-weight: bolder;
	text-align: center;
	font-size: 2.50em;
}

.imagens-cafe {
	max-width: 960px;
	margin: 0 auto;
}

.imagem {
	max-width: 460px;
	float: left;
	margin: 0 10px;
}

.imagem h3{
    font-family: Georgia, serif;
    font-size: 2.5em;
    background: var(--preto-secundario);
    width: 190px;
    color: var(--branco-primario);
    text-align: center;
    font-style: italic;
    padding: 5px;
    top: -30px;
    position: relative;
}

.historia p {
    font-size: 1.2em;
	font-style: italic;
	text-align: center;
	line-height: 1.2em;
	max-width: 460px;
	margin: 20px auto;
}

/* 4 - Section Info */

.info {
    background: var(--cinza-primario);
    padding: 60px 0;
}

.info-estados {
	max-width: 960px;
	margin: 0 auto;
}

.estados {
    width: 300px;
	display: inline-block;
	margin: 0 8px;
}

.estados h2 {
    text-align: center;
    font-size: 2.3em;
    font-family: Georgia, serif;
    font-weight: bolder;
    margin-bottom: 20px;
}

.estados p {
    font-size: 1em;
    font-family: Georgia, serif;
    text-align: justify;
}

.estados .info-paulista::before{
	content: '';
    display: block;
    width: 100px;
    height: 100px;
    background: #532a00;
    border-radius: 50%;
    margin: 20px auto;
    border: 5px solid var(--cinza-primario);
    box-shadow: 0 0 0 8px #532a00;
}

.estados .info-carioca::before{
	content: '';
    display: block;
    width: 100px;
    height: 100px;
    background: #da7522;
    border-radius: 50%;
    margin: 20px auto;
    border: 5px solid var(--cinza-primario);
    box-shadow: 0 0 0 8px #da7522;
}

.estados .info-mineiro::before{
	content: '';
    display: block;
    width: 100px;
    height: 100px;
    background: #e4b438;
    border-radius: 50%;
    margin: 20px auto;
    border: 5px solid var(--cinza-primario);
    box-shadow: 0 0 0 8px #e4b438;
}

.botao-info {
    display: block;
    width: 180px;
    padding: 15px 0;
    margin: 20px auto 0 auto;
    border: 3px solid var(--preto-secundario);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-family: Georgia, serif;
    font-size: 1.125em;
    font-weight: bolder;
    color: var(--preto-primario);
    transition: 0.4s;
}

.botao-info:hover {
    color: var(--cinza-primario);
    transition: 0.4s;
    background: var(--preto-secundario);
}

/* 5 - Section Lojas */

.lojas {
    padding-bottom: 60px;
    padding-top: 60px;
}

.lojas .itens-lojas{
    width: 70%;
    height: 320px;
    margin: 0 auto;
}

.itens-lojas {
    margin-bottom: 40px;
}

.itens-lojas .loja-imagem {
    display: inline-block;
}

.itens-lojas .loja-txt {
    width: 25%;
    display: inline-block;
    margin-left: 15px;
    vertical-align: top;
}

.itens-lojas h2 {
	font-size: 2.25em;
	font-weight: bold;
	margin-bottom: 20px;
}

.itens-lojas p {
	font-size: 1.125em;
	line-height: 1.4em;
    width: 320px;
    margin-bottom: 30px;
}

.itens-lojas a {
    padding: 10px 20px;
    border: 3px solid var(--preto-secundario);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-family: Georgia, serif;
    font-size: 1.125em;
    font-weight: bolder;
    color: var(--preto-primario);
    transition: 0.4s;
}

.itens-lojas a:hover {
    color: var(--cinza-primario);
    transition: 0.4s;
    background: var(--preto-secundario);
}

/* 6 - Section Assine */

.assine {
    background: var(--cinza-primario);
    padding: 30px 0px;
}

.assine-info {
    display: inline-block;
    margin: 0 200px;
}

.assine-info h2 {
    font-family: Georgia, serif;
    font-size: 2.25em;
    font-weight: bolder;
}

.assine-info p {
    font-family: Georgia, serif;
    font-size: 1.5em;
    font-style: italic;
}

.assine form {
	margin-top: 10px;
    display: flex;
    float: right;
    margin: -55px 200px;
}

.assine input {
	border: 3px solid var(--preto-secundario);
	background: none;
	font-size: 1.5em;
	font-style: italic;
	font-family: Georgia, serif;
	padding: 10px;
}

.assine button {
    border: 3px solid var(--preto-secundario);
    background: var(--preto-secundario);
    color: var(--branco-primario);
    font-size: 1.5em;
    font-family: Georgia, serif;
    text-transform: uppercase;
}

/* 7 - Footer */

.footer {
    background: var(--cinza-footer);
    padding: 40px 0;
}

.footer p {
	font-size: 1.125em;
    line-height: 1.4em;
    display: inline-block;
    margin: 0 200px;
}

.footer img {
    float: right;
    margin: -40px 200px;
}